#site_header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 1rem auto;
    border-bottom: 1px solid brown;
  }
  
  .google_logo{
    width: 20px;
    display: inline-flex;
  }

  .jumbotron{
      width: 80%;
      margin: auto;
      .jumbo_text{
        width: 50%;
      }
      .jumbo_image{
          width: 50%;
      }
  }